name: 'fakeflix'

services:
  db:
    image: postgres:15-alpine
    container_name: local
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
    volumes:
      - ../.data:/var/lib/postgresql/data